*{
    font-family: 'Roboto', sans-serif;
}

$font-important: 'Alegreya sc';

.gridmenu {
    display: grid;    
    grid-template-columns: auto auto auto; 
    background-color: #690909;
    padding: 10px;
  }
@media only screen and (max-width: 900px) {
    .gridmenu {
        grid-template-columns: auto auto; 
    }
}
@media only screen and (max-width: 600px) {
    .gridmenu {
        grid-template-columns: auto; 
    }
}

.thumbmenu {
    font-family: $font-important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    
    &:hover{
        background-color: rgba(65, 17, 17, 0.8);        
        color: #fff
    }
}


