@import "../../styles/theme.scss";

.card {
  background-color: $color-dark;
  opacity: 0.8;
  border: 1px solid $color-darkest;
  padding: 20px;
  cursor: pointer; 
  text-align: center;
  
  & a label{ 
    cursor: pointer; 
    color: $color-lightest;
    font-size: 30px;
    font-family: $font-important;
    text-decoration: none;
    background: none;  
    border: none;
  }

  &:hover{
    background-color: $color-lightest;    
    & a label{
      color: $color-darkest;
      color: $color-darkest;
    }
  }
}